#portfolioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 8rem 4rem;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.portfolioCards {
    display: grid;
    grid-template-columns: 1fr;

}

.portfolioTitle { 
    padding-bottom: 2rem; 
    color: #FFFFFF;
    font-size: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #000000DF;
    padding: 1rem;
    margin: 1rem 0;
    width: 390px;
    border-radius: 1rem;
    color: #FFFFFF;
}

.description h4 {
    font-size: 1.4rem;
    padding-bottom: .6rem;
}

.tagsDescription { padding: .4rem 0; }

.tagsDescription span {
    border: 1px solid #EA003E;
    color: #EDF6F9;
    border-radius: .4rem;
    padding: .2rem;
    margin-right: .4rem;
    font-weight: 500;
}

.cardImage { 
    width: 380px; 
    border-radius: .6rem;
    padding-bottom: 1rem;
    transition: transform .3s ease;
}

.cardImage:hover {
    transform: scale(1.08);
}

.textDescription { padding: .6rem 0; }

.descriptionButtons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.descriptionButtons .button {
    background: #EDF6F99B;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    color: #03071e;
}

.descriptionButtons a { text-style: none; }

@media screen and (min-width: 1024px) {
    .portfolioCards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: space-between;
    }
}