#skillsContainer {
    padding: 6rem 1rem;
    background-color: #181818;
    color: #edf6f9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Skills */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsTitle { 
    font-size: 2rem;
    color: #EDF6F9; 
}

.skillIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.skillCard {
    background-color: #FFFFFC1B;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .6rem;
    margin: .4rem;
    border-radius: 1rem;
    width: 90%;

    box-shadow: 0px 2px 10px #0000003b;
    transition: transform .3s ease;
}

.skillCard:hover {
    transform: scale(1.1);
}

.skillCard img {
    width: 100%;
}

/* Differentials */

.description h3 { 
    padding: .6rem 0;
    text-shadow: 0px 2px 10px #000000;
}

.description span { 
    color: #EA003E;
    font-weight: 700; 
}

.skillCard .descriptionCard {
    padding-top: .4rem;
    color: #FFFFFF3B;
}

.differential {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.differential h2 { padding: 2rem 0; }

.differentialCards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.differentialCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFC1B;
    box-shadow: 0px 2px 10px #0000003b;
    margin: 1rem;
    border-radius: 1rem;
    transition: transform .3s ease;
    text-align: center;
}

.differentialCard:hover {
    transform: scale(1.06);
}

.iconCard {
    font-size: 6rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    #skillsContainer {
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 6rem 0;
    }

    .skills { 
        padding-bottom: 6.2rem;
        margin: 0; 
        padding-left: 2rem;
    }
    
    .differential {
        flex-direction: column;
        flex-wrap: wrap;
        border-left: 1px solid #FFFFFC1B;
        padding-left: 2rem;
    }

    .differentialCards { grid-template-columns: 1fr 1fr; }
}

@media screen and (min-width: 768px) {
    #skillsContainer {
        align-items: center;
        justify-content: center;
    }

    .skillCard img {
        width: 100%;
    }

    .differentialCards { 
        grid-template-columns: 1fr 1fr; 
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #skillsContainer {
        justify-content: flex-start;
    }

    .skills { padding: 2rem; }
    
    .skillsTitle {
        padding: 2rem 0;
    }
    
    .differentialCards { 
        grid-template-columns: 1fr 1fr; 
        width: 100%;
    }
}