#contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 6rem 1rem;

    background-color: #181818;
    color: #FFFFFF;
}

.contactTitle { font-size: 1.6rem; }

form {
    display: flex;
    flex-direction: column;

    background-color: #0B05005B;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

input, textarea {
    margin: .6rem 0 1rem 0;
    padding: .6rem;
    border-radius: .8rem;
    border: none;
    background-color: #0B05009B;
    color: #FFFFFF;
    font-size: 1rem;
}

textarea { resize: none;}

input[type=submit] {
    padding: .6rem;
    border-radius: .8rem;
    border: none;
    font-weight: 800;
    font-size: 1rem;
    background: #EDF6F99B;
    transition: .3s ease-in-out;
    cursor: pointer;
    color: #0B0500;
}

input[type=submit]:hover {
    background: rgb(234,0,62);
    background: linear-gradient(90deg, rgba(234,0,62,1) 0%, rgba(233,167,167,1) 50%, rgba(199,125,223,1) 100%);
}

@media screen and (min-width: 768px) {
    #contactContainer { padding: 8rem; }
}

@media screen and (min-width: 1024px) {
    #contactContainer {
        padding: 8rem 16rem;
    }

    form, .contactTitle, .contactDescription {
        width: 80%;
    }
}